#title-head {
    margin-left: 1rem;
    font-weight: bolder;
}

a {
    text-decoration: none !important;
}

p {
    line-height: 20px;
}

nav, footer {
    background-color: #434445 !important;
}

.photo-sidebar {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}

@media only screen and (max-width: 456px) {
    #nav-menu {
        display: none !important;
    }
}
